body {
    background-color: rgb(8, 8, 85);
    text-transform: capitalize;
  }
  .card-footer{
    text-align: center;
  }
  .conta{
    width: 280px;
    margin-top: -40px;
  }
  .card-header{
    text-align: center;
  }
  .card-footer{
    background-image: linear-gradient(red,blue,yellow);
    color: chartreuse;
  }
  .card-header{
    background-image: linear-gradient(orangered,cyan);
    color:blue;
    font-weight: bolder;
  }
  .card-content{
    background-image: linear-gradient(orangered,blue,green);
  }
  .form-label{
    font-size: x-large;
    color:yellow;
  }
  .display-5{
    color: yellow;
    text-transform: uppercase;
    font-style: italic;
  }
  img{
    transform: scale(1.0);
    transition: 0.3s ease-out;
  }
  img:hover{
    transform: scale(1.5);
  }
  .madeby{
    color: orangered;
  }